@use "./mixins.scss" as *;
@use "./var.scss" as *;

:root {
  --border-base-radius: 6px;
  --color-white: #{$color-white};
  --color-black: #{$color-black};
  @include set-css-color-type($colors, $types);
}
