@use "@/styles/animation.scss" as *;
.container {
  height: var(--default-header-height);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  gap: 40px;
  background-color: var(--default-color-fff);
}

.logo-box {
  width: 110px;
  overflow: hidden;
}
.menu-box {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}
.menus {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
  .menu {
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    position: relative;
    display: flex;
    align-items: flex-end;
    .menu-icon {
      display: flex;
      width: 18px;
      height: 18px;
      background: url("../../assets/down_icon.svg") no-repeat;
      background-size: contain;
    }
  }
  .menu:hover {
    color: var(--color-primary);
    transition: all 0.25s linear;
    font-style: normal;
    transform: scale(1.1);
    text-shadow: var(--color-primary) 0.05em 0.05em 0.2em;
    &::after {
      content: "";
      display: block;
      width: 50%;
      height: 2.5px;
      border-radius: 2px;
      background-color: var(--color-primary);
      position: absolute;
      left: 0;
      bottom: -4px;
      animation: $menu-line;
    }
    .menu-icon {
      transition: all 0.05s ease-in;
      display: flex;
      width: 18px;
      height: 18px;
      color: var(--color-primary);
      background: url("../../assets/up_icon.svg") no-repeat;
      background-size: contain;
    }
  }
}

.search-box {
  width: 220px;
  height: 36px;
  display: flex;
  align-items: center;
  border: 1px solid var(--color-info);
  border-radius: var(--border-base-radius);
  text-indent: 24px;
  padding: 2px 8px;
  cursor: pointer;
  .search {
    outline: none;
  }
  &:hover {
    transition: all 0.2s linear;
    box-shadow: 0 0 5px 0 var(--color-info);
  }
}

.control-box {
  display: flex;
  align-items: center;
}

.login {
  width: 100px;
  height: 34px;
  background-color: var(--color-success);
  outline: none;
  border-radius: var(--border-base-radius);
  font-weight: 800;
  font-size: 14px;
  color: var(--color-white);
}
